



&pio {
	gmac0_pins_default: gmac0@0 {
		pins = "PH0", "PH1", "PH2", "PH3",
			"PH4", "PH5", "PH6", "PH7",
			 "PH9", "PH10","PH13","PH14",
			  "PH15","PH16","PH17","PH18";
		drive-strength = <40>;
		function = "gmac0";
		bias-pull-up;
	};

	gmac0_pins_sleep: gmac0@1 {
		pins = "PH0", "PH1", "PH2", "PH3",
			"PH4", "PH5", "PH6", "PH7",
			 "PH9", "PH10","PH13","PH14",
			  "PH15","PH16","PH17","PH18";
		function = "gpio_in";
	};

	gmac1_pins_default: gmac1@0 {
		pins = "PJ0", "PJ1", "PJ2", "PJ3",
			"PJ4", "PJ5", "PJ6", "PJ7",
			"PJ8", "PJ9", "PJ10", "PJ11",
			"PJ12","PJ13", "PJ14", "PJ15";
		drive-strength = <40>;
		function = "gmac1";
		bias-pull-up;
	};

	gmac1_pins_sleep: gmac1@1 {
		pins = "PJ0", "PJ1", "PJ2", "PJ3",
			"PJ4", "PJ5", "PJ6", "PJ7",
			"PJ8", "PJ9", "PJ10", "PJ11",
			"PJ12","PJ13", "PJ14", "PJ15";
		function = "gpio_in";
	};
};

&mdio0 {
	status = "okay";
	gmac0_phy0: ethernet-phy@1 {
		reset-gpios = <&pio PH 8 GPIO_ACTIVE_LOW>;
	};
};


// &gmac0 {
// 	phy-mode = "rgmii";
// 	pinctrl-names = "default", "sleep";
// 	pinctrl-0 = <&gmac0_pins_default>;
// 	pinctrl-1 = <&gmac0_pins_sleep>;
// 	sunxi,phy-clk-type = <0>;
// 	tx-delay = <1>;
// 	rx-delay = <3>;

// 	gmac3v3-supply = <&reg_cldo3>;
// 	status = "okay";
// };


&gmac1 {
	phy-mode = "rgmii";
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&gmac1_pins_default>;
	pinctrl-1 = <&gmac1_pins_sleep>;
	aw,soc-phy25m;
	tx-delay = <1>;
	rx-delay = <1>;
	dwmac3v3-supply = <&reg_cldo3>;
	status = "okay";
	mdio1: mdio1@1 {
		gmac1_phy0: ethernet-phy@1 {
			reset-gpios = <&pio PJ 16 GPIO_ACTIVE_LOW>;
		};
	};
};
